# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# Secrets
.env
!.env.template

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Data & Reports
# Ignore all files in these directories but keep the structure via .gitkeep
/raw/*
!/raw/.gitkeep
/reports/**/*
!/reports/**/
!/reports/**/.gitkeep

# Keep lab reports under version control
!/reports/labs/REPORT_*.md

# IDEs & System
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
